.card {
    height: 350px;

    background-color: var(--card-background-color);
    color: var(--card-text-color);
    border-radius: 12px;

    padding: 3rem 0 3rem calc(1.618 * 3rem);

    overflow: hidden;

    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 4rem;
    transition: 0.4s;
}

.card p {
    color: var(--card-paragraph-color);
    font-size: calc(var(--text-scale-ratio) * 1.5);
    line-height: calc(var(--text-scale-ratio) * 2 * 1.1);
}

.card a {
    color: var(--card-paragraph-color);
}

.card:hover {
    scale: 1.025;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.125);
    background-color: var(--card-hover-background-color);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.card > div {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 2rem;
}

.card .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.card .buttons a {
    width: 100%;
    height: 100%;
}

.card button {
    width: 100%;
    height: 100%;
    font-size: calc(var(--text-scale-ratio) * 1.5);
    color: var(--card-paragraph-color);
    cursor: pointer;
    background-color: var(--card-button-background-color);
    border: 2px solid var(--card-button-border-color);
    border-radius: 12px;

    transition: 0.4s;
}

.card button:hover {
    scale: 1.02;
    background-color: var(--card-button-hover-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
