:root {
    --card-background-color: #ededed;
    --card-hover-background-color: #f6f6f6;
    --card-text-color: #323232;
    --card-paragraph-color: #5e5e6f;
    --card-button-background-color: #ffffff;
    --card-button-border-color: #fafafa;
    --card-button-hover-background-color: #f8f8f9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-background-color: #2c2c2c;
        --card-hover-background-color: #373737;
        --card-text-color: #ededed;
        --card-paragraph-color: #b6b6b6;
        --card-button-background-color: #3c3c3c;
        --card-button-border-color: #2c2c2c;
        --card-button-hover-background-color: #4c4c4c;
    }
}

.card {
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    border-radius: 12px;

    padding: 3rem;

    overflow: hidden;

    display: grid;
    align-items: center;
    grid-template-columns: 5fr 4fr;
    gap: 4rem;
    transition: 0.4s;
}

.card p {
    color: var(--card-paragraph-color);
    font-size: calc(var(--text-scale-ratio) * 1.5);
    line-height: calc(var(--text-scale-ratio) * 2 * 1.1);
}

.card a {
    color: var(--card-paragraph-color);
}

.card:hover {
    scale: 1.025;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.125);
    background-color: var(--card-hover-background-color);
}

.card > img {
    width: 100%;
    object-fit: cover;
}

.card > div {
    display: grid;
    gap: 1.5rem;
}

.card .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.card .buttons a {
    cursor: pointer;
    transition: 0.4s;
}

.card .buttons a:hover {
    scale: 1.05;
}
