@import url(font.css);

body {
  margin: 16px 24px;
  font-family: "Inter";
  color: white;
  background-color: black;
}

button {
  /* modern button */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}
