:root {
  --corner-radius: 8px;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

h1 {
  font-size: 96px;
  line-height: calc(96px * 1.4);
}

h2 {
  font-size: 60px;
  line-height: calc(60px * 1.4);
}

h3 {
  font-size: 48px;
  line-height: calc(48px * 1.4);
}

h4 {
  font-size: 32px;
  line-height: calc(32px * 1.4);
}

p {
  font-size: 14px;
  line-height: calc(24px * 1.2);
}

button {
  font-size: 14px;
  line-height: calc(24px * 1.2);

  border-radius: var(--corner-radius);
  border-width: 0px;
  
  padding: 4px 12px;
}