@media screen and (max-width: 1000px) {
    :root {
        --text-scale-ratio: 0.6rem;
    }

    main {
        width: 80%;
        padding: 0 2rem;
    }

    .scroll-helper {
        bottom: 1rem;
    }

    .card {
        height: fit-content;
        padding: 2rem;
        gap: 1rem;
    }

    .card > img {
        display: none;
    }

    .card > div {
        grid-column: 1 / 3;
    }
}
