/* imports */
@import url(normalize.css);

/* custom imports */
@import url(font.css);
@import url(basic.css);
@import url(colors.css);

/* custom classes */
@import url(classes/card.css);

/* mobile css */
@import url(mobile.css);

/* debugging */
/* @import url(debug.css); */

/* tags */
body {
    font-family: Inter;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    width: 900px;

    margin: 0 auto;
    padding: 2rem;
}

main > * {
    margin: 8rem 0;
}
