/* imports */
@import url(normalize.css);

/* custom imports */
@import url(font.css);
@import url(basic.css);
@import url(colors.css);

/* tags */
body {
  width: 100vw !important;
  height: 100vh !important;

  margin: 0;
  padding: 0;

  font-family: "Noto Sans Mono", sans-serif;

  background-color: var(--background-color);
  color: var(--text-color);
}

@import url(mobile.css); /* mobile.css is imported last to take highest priority */
