<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Johnny Mayo</title>

    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <header></header>
    <main></main>
    <footer>
      <p>
        <a href="https://github.com/johnnymayodev" target="_blank"
          >johnnymayodev</a
        >
      </p>
      <p>Made with ❤️</p>
      <p>Icons by <a href="https://icons8.com/" target="_blank">Icons8</a></p>
    </footer>
    <script src="static/js/app.js"></script>
  </body>
</html>
