<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Hi 👋, I'm Johnny</h1>
        </div>
        <div id="content">

            <h2>About Me</h2>
            <p>I'm a software developer who loves to build things. I'm currently working on a project that will allow you to store files on YouTube.</p>

            <h2>Here are my projects ...</h2>
            <div id="projects">
                <div class="project">
                    <h3>Foreign Whispers</h3>
                    <a href="https://github.com/johnnymayodev/Foreign-Whispers" target="_blank"><img class="icon" src="static/icons/icons8-github-100.png" alt="github"></a>
                    <p>Accept as input youtube videos and outputs the video but with spoken and written subtitles to another language of your choosing.</p>
                </div>
                <div class="project">
                    <h3>Infinite Cloud Storage</h3>
                    <a href="https://github.com/johnnymayodev/Infinite-Cloud-Storage" target="_blank"><img class="icon" src="static/icons/icons8-github-100.png" alt="github"></a>
                    <p>Turns the bits from a file into a video to upload and store on YouTube.</p>
                </div>
            </div> 
        </div>
        <div id="footer">
            <p> <a href="https://github.com/johnnymayodev" target="_blank">johnnymayodev</a> &copy; </p>
            <p>Made with ❤️</p>
            <p>Icons by <a href="https://icons8.com/" target="_blank">Icons8</a></p>
        </div>  
    </div>
    <script src="static/js/app.js"></script>
</body>
</html>