<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Johnny Mayo</title>
        <link rel="icon" type="image/x-icon" href="static/imgs/portfolio.png" />
        <link rel="stylesheet" href="static/css/style.css" />
    </head>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            margin: 4rem;
        }
    </style>
    <body>
        <h3>That project is currently being worked on.</h3>
    </body>
</html>
